@{
    ViewData["Title"] = "Music Shop";
}

<div class="text-center">
    <h1 class="display-4">Music Shop</h1>
    <p>Check out the latest music here</p>

    <form method="get">
        <label for="genreDropdown">Select Genre:</label>
        <select id="genreDropdown" name="selectedGenre">
            <option value="">All Genres</option>
            <option value="hip-hop">Hip-Hop</option>
            <option value="rap">Rap</option>
            <option value="country">Country</option>
            <option value="r&b">R&B</option>
            <option value="pop">Pop</option>
            <option value="jazz">Jazz</option>
            <option value ="rock">Rock</option>
        </select>
        <button type="submit">Filter</button>
    </form>

    <!-- Display songs based on the selected genre -->
    <div class="row">
        @foreach (var song in ViewData["FilteredSongs"] as List<Music>)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@song.SongTitle</h5>
                        <p class="card-text">@song.Perfomer</p>
                        <p class="card-text">@song.Genre</p>
                        <a href="@Url.Action("AddToCart", new { id = song.MusicId })" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>