@model IEnumerable<Music_Shop.Controllers.CartItem>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>Song Title</th>
            <th>Performer</th>
            <th>Price</th>
            <!--add one for price when doing this-->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SongTitle</td>
                
                <td>@item.Perfomer</td>

                <td>@item.Price.ToString("C")</td>

                <!--add one for price when doing this-->
            </tr>
        }
    </tbody>
</table>